.marcacao{
  border: 1px solid black;
}

#frame{
  @extend .d-flex, .flex-row;
}
aside.left{
  @extend .marcacao;
  height: 100%;
  height: 100vh;
  width: $size__left_sidebar_width;
}
#beside{
  @extend .flex-column;
  flex: 1 1 auto;
  padding: 0 1em;
}
header.main{
  @extend .d-flex, .flex-row;
  @extend .align-items-center;
  @extend .marcacao;

  font-size: $size__header_font;
  color: $color__header;
  height: $size__header_height;

  &>.icon{
    $size: 2*$size__header_font;
    margin-left: 2em;
    margin-right: 1em;
    height: $size;
    width: $size;
    flex: 0 1 auto;

    *{
      stroke: $color__header;
      fill: $color__header;
    }
  }
  &>h1{
    flex: 1 1 auto;
    font-weight: 400;
    font-size:inherit;
  }
}
#user-account{
  @extend .marcacao;
  @extend .d-flex, .flex-row;
  @extend .align-items-center, .justify-content-around;

  flex:0 0 $size__right_sidebar_width;
  font-size: $size__header_font * .5;
  height: 100%;
  padding: 1em;

  &>.avatar{
    $size: $size__header_height * .8;
    border-radius: 100%;
    height: $size;
    width: $size;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

  }
  &> button{
    @extend .d-flex, .flex-row;
    $color: $color__pink;
    background-color: transparent;
    border: 4px solid $pink;
    color: $color;
    .icon{
      $size: .8*$size__header_font;
      height: 1em;
      width: 1em;
      *{
        stroke: $color;
        fill: $color;
      }
    }
    [role="label"]{
      margin-left: .5em;
    }
  }
}
aside.right{
  @extend marcacao;
  height: calc(100vh - #{$size__header_height});
}
