/* FRAME */
@import "frame";
@import "./components/card";
@import "./components/form-input";

.color-picker {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    & > label {
        margin: 0;
        width: 20px;
        height: 20px;
        border: 3px solid transparent;
        transition: border-color 0.5s;
        cursor: pointer;

        &[for="#f44336"] {
            background-color: #f44336;
        }

        &[for="#a44554"] {
            background-color: #a44554;
        }

        &[for="#f89336"] {
            background-color: #f89336;
        }

        &[for="#a84334"] {
            background-color: #a84334;
        }

        &[for="#a64434"] {
            background-color: #a64434;
        }
    }

    input:checked + label {
        border-color: $color__pink;
    }
}

#detalhes-produto{
  flex: 1 1 auto;
  margin-right: 1em;
}
#finalizacao-produto{
  flex: 1 1 auto;
  margin-left: 1em;
}
