.input-row{

  width: 100%;
  label{
    height: 24px;
    text-transform: uppercase;
    font-weight: 300;
    display: block;
    margin-bottom: 6px;
  }
  &.regularcase{
    label{
      text-transform: none;
    }
  }
  .input, input, select, .inputlooks{
    height: 50px !important;
  }
  input, select, .inputlooks{
    display: block;
    width: 100%;
    line-height: 3em;
    padding: 5px;
    border: 1px solid $color__lightgrey;
    border-radius: 5px;
    position: relative;
    transition: border .5s;

    &:focus{
      border-bottom: 1px solid $color__pink_hightlight;
      outline: none;
    }
  }
}
